/* sub.css */

#video {
    background: #333;
}

#video .header_box {
    display: none;
}

#main {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    outline: 2px solid red;
}
#main iframe {
    position: absolute;    
    width: 100%;
    height: 100%;
}

#main_footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 1px solid red;
}

#main_footer .sns li {
    display: inline-block;
}